.header {
  margin-top: 20px;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.nav-link:hover {
  color: silver;
}
.icon {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 5px
}
.icon1 {
  position: relative;
}
.icon2 {
  margin-left: 25px;
}
.zero {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: lightgreen;
  color: green;
  padding: 2px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  font-size: small;
  z-index: 99;
}
.icons {
  margin-top: 10px;
}



.cont1 {
  margin-top: 20px;
  background: url("images/79.jpg") no-repeat;
  height: 900px;
  position: relative;
}
.zag {
  color: white;
  text-align: center;
  font-size: 50pt;
  margin-top: 330px;
}
.text1 {
  color: white;
  text-align: center;
  font-size: 1em;
}
.btn2 {
  width: 120px;
  height: 40px;
  color: #3fb5db;
  margin-top: 40px;
  border: none;
  border-radius: 3px;
}
.arrow {
  color: white;
  text-align: right;
  margin-top: 50px;
  font-size: 20px;
}
.arrow:hover {
  color: #3fb5db;
}
.cont2 {
  position: absolute;
  z-index: 99;
  justify-content: center;
  border-radius: 10px;
  top: 720px;
  left: 140px;
}
.text3 {
  opacity: 0.5;
}
.box1,
.box2,
.box3  {
  box-shadow: 0 0 30px 0 gainsboro;
  background-color: white;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  padding-top: 50px;
  padding-left: 25px;
}
.box1:hover,
.box2:hover,
.box3:hover {
  border-bottom: 2px solid #3fb5db;
}
.abc {
  color:#3fb5db;
}
.icon3 {
  color: #3fb5db;
  font-size: 45px;
}
.icon4 {
  padding-left: 230px;
  opacity: 0.4;
  font-size: 20px;
}
.icon4:hover {
  color: #3fb5db;
}



.cont3 {
  margin: 200px 0 100px 0;
}
.btn3 {
  text-align: center;
  width: 130px;
  height: 40px;
  line-height: 10px;
  margin-top: 20px;
  font-size: .9em;
}
.container3 {
  margin-top: 30px;
  font-size: .9em;
}



.cont4 {
  margin: auto;
}
.btn3 {
  padding-top: 30px;
}
.icon5 {
  font-size: 45px;
  color: #3fb5db;
}



.cont5 {
  display: flex;
  margin-top: 100px;
  background-color: #f9f9f9;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

.ic {
  background-color: orange;
  text-align: center;
  border-radius: 150px;
}
.ico {
  height: 10px;
  background: linear-gradient(45deg, #add8e6, #007bff);
  border-radius: 3px;
}
.ico1 {
  height: 10px;
  opacity: 0.2;
  background-color: silver;
  border-radius: 3px;
}
.i1, .i2, .i3, .i4, .i5 {
  font-weight: 900;
  margin-top: 50px;
}
.i2, .i3, .i4, .i5 {
  margin-top: 46px;
}



.cont6 {
  margin: 150px 0 80px 0;
  text-align: center;
  display: flex;
}
.cont6 h2, h5 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}
.cont6 p {
  opacity: 0.7;
}
.circle {
  background-color:  #3fb5db;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.circle2 {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 15px;
  background-color: #67cdef82;
  border-radius: 50%;
  line-height: 30px;
  font-size: 20px;
}
.circle3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background-color:  #78d1ed2e;
  border-radius: 50%;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}



.cont7 {
  display: flex;
  margin-bottom: 150px;
}

.photo1 {
  background: url("images/1ava_VGTN.png") no-repeat;
  border-radius: 15px;
  height:  600px;
  width: 100%;
  opacity: 0.7;
  position: relative;
  text-align: center;
}
.photo1:hover {
  opacity: 1;
}
.photo2 {
  background: url("images/e24d010381b19f7683393ffb3c34f47a.jpg") no-repeat;
  border-radius: 10px;
  height:  500px;
  width: 100%;
  opacity: 0.7;
  position: relative;
  text-align: center;
}
.photo2:hover {
  opacity: 1;
}
.portfolio {
  position: absolute;
  box-shadow: 0 0 2px 0;
  border-radius: 5px;
  left: 60px;
  padding-left: 20px;
  top: 430px;
  background-color: white;
  width: 450px;
  height: 80px;
  padding-top: 20px;
}
.portfolio:hover {
  margin-top: -30px;
  color: #3fb5db;
}
 .cont7 i {
  font-size: 20px;
  opacity: 0.5;
  margin-left: 350px;
}
 .cont7 i:hover {
  padding-top: -100px;
}
.view {
  margin-top: 100px;
  border: 1px solid #3fb5db;
  width: 150px;
  height: 50px;
  color: #3fb5db;
  text-align: center;
  padding-top: 15px;
  margin-left: -100px;
  cursor: pointer;
  border-radius: 5px;
}
.view:hover {
  box-shadow: 0 0 5px 0;
}



.cont8 {
  margin-top: 150px;
  display: flex;
  background-color: #fafafa;
  height: 600px;
  padding-top: 100px;
}

.arr {
  padding-left: 150px;
  padding-top: 20px;
  opacity: 0.5;
}
.arr:hover {
  color: #3fb5db;
}
 .cont8 h2 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}
.cont8 .btn4 {
  margin-top: 30px;
  width: 120px;
  height: 40px;
  font-size: .9em;
}
.icon5 {
  color: #3fb5db;
  font-size: 50px;
  padding-bottom: 15px;
}
.cont8 .box4,
.box5,
.box6 {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 30px 0 gainsboro;
}
.box4 {
  margin-bottom: : 100px;
}
.box5 {
  margin: -30px 0 20px 0;
}



.cont9 {
  margin: 150px 0 0 150px;
}
}
.cont9 h1{
  color: #3fb5db;
}



.cont10 {
  margin: 30px 0 0 150px;
}
.cont10 h1 {
  padding-top: 100px;
  text-align: center;
}

.quote {
  opacity: 0.5;
  font-size: 35px;
}
.cont10 .text {
  font-size: 0.6em;
}
.avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.cont10 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.about {
  border-radius: 5px;
  box-shadow: 0 0 30px 0 gainsboro;
  opacity: 0.5;
  padding: 10px;
  width: 200px;
}
.about:hover {
  box-shadow: 0 0 30px 0 gainsboro;
  opacity: 1;
}
.name {
  display: inline-block;
  line-height: 15px;
  margin-top: 10px;
}
.rating {
  color: orange;
}
.cont10 p {
  margin-bottom: 50px;
  text-align: center;
}
.points {
  margin: auto;
  width: 200px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  opacity: 0.5;
  color: #3fb5db;
}
.points:hover {
  opacity: 1;
}



.cont11 img{
  margin-top: 100px;
  padding-left: 100px;
}


.cont12 {
  color: white;
  height: 600px;
  text-align: center;
  margin-top: 100px;
  background: url("https://online-kassa.ru/wp-content/uploads/2019/02/budget3.jpg") no-repeat;
}
.cont12 h6 {
  margin-left: 50px;
  padding-top: 200px;
}

.Get {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.and {
  font-size: 30px;
}
.cont12 .btn6 {
  margin-top: 20px;
}



.footer {
  margin-top: 100px;
}
.icons1 {
  padding-top: 20px;
  display: flex;
  width: 150px;
  height: 85px;
  margin-top: 15px;
}
.footer .icon{
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  padding-top: 10px;
  margin-right: 15px;
}
 .footer .icon:hover {
  background-color: #007bff;
  color: white;
  opacity: 1;

}
 .footer i {
  opacity: 0.5;
}
.footer .text:hover {
  color: #007bff;
  text-decoration: underline;
}

.nom {
  color: blue;
}
