.common {
  text-align: center;
}
.btn {
  background-color: green;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.btn2 {
  background-color: red;
  font-size: 21px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
.reset {
  background-color: silver;
  cursor: pointer;
  border-radius: 10px;
}
